 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
html, body {
  overflow-x: hidden;
}
body{
  width: 100vw;
}

 nav,
#main input,
#daydata,
#hourly,
#tenday,#uvindex,#wind {
  background: rgba(0, 0, 0, 0.33);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
}

#infoitem {
  background: rgba(255, 255, 255, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}
#hdata, #ddata{
  background: rgba(0, 0, 0, 0.22);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

}

body {
  height: 100vh;
}
#mainbg{
  height: 100%;
  width: 100%;
  position: fixed;

}

nav {
  width: 100vw;
  height: 10vh;
  display: flex;
  color: antiquewhite;
  align-items: center;
}
nav p {
  font-size: 2em;
}
nav img {
  padding: 0 20px;
  height: 6vh;
}
#cityname {
  margin-left: auto;
  padding: 0 20px 0 0;
  text-align: end;
  text-transform: capitalize;
}

main {
  height: 90vh;
  display: flex;
  align-items: center;
}

#main {
  height: 85vh;
  flex: 1;
  flex-shrink: 0;
  padding: 0 1.5vh 0 3vh;
}
#moredetail {
  flex: 2;
  height: 85vh;
  padding: 0 3vh 0 1.5vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  justify-content: space-between;
  align-items: center;
}

#main input {
  height: 30px;
  width: calc(100% - 4.5vh);
  font-size: 1em;
  border: none;
  border-radius: 15px;
  padding: 0 10px;
}
#daydata {
  height: 77.5vh;
  width: calc(100% - 1vh);
  margin: 2.5vh 0 0 0;
  border-radius: 10px;
}
#tempweather {
  height: 30vh;
  text-align: center;
}

#otherinfo {
  height: calc(100% - 32vh);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-evenly;
  gap: 2vh;
  padding: 0 2vh;
}
#infoitem {
  border-radius: 10px;
}

#hourly {
  width: 100%;
  flex: 1;
  border-radius: 10px;
}
#tenday {
  width: 100%;
  flex: 1;
  border-radius: 10px;
}
#uvwind {
  width: 100%;
  flex: 1;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  gap: 2vh;
  align-items: center;
}

#temperature {
  color: rgb(255, 255, 255);
  font-size: 5em;
  text-align: center;
  padding: 10px 0 0 0;
}
#weather {
  color: rgb(255, 255, 255);
  font-size: 2.5em;
  text-align: center;
  line-height: 10px;
}
#lon, #lat{
    display: inline;
    color: #fff;
    font-size: 0.7em;
    line-height: 80px;
}

#infoitem img {
  height: 20px;
  width: 20px;
}
.iidiv {
  padding: 5px 10px;
  display: flex;
  justify-content: start;
  gap: 2px;
  color: rgb(0, 0, 0);
}
#mdata {
  display: grid;
  place-items: center;
  height: 70%;
}
#mdata p {
  font-size: 3em;
  color: rgb(0, 0, 0);
}
#nhourly {
  display: flex;
  gap: 5px;
  padding: 5px 0 5px 10px;
  border-bottom: 1px solid rgb(173, 173, 173);
}
#nhourly img {
  height: 20px;
  width: 20px;
}
#hourlydatablk, #dailydatablk{
  height: 80%;
  width: 893px;
  display: flex;
  flex-wrap: nowrap;
  gap: 10px;
  align-items: center;
  overflow-x: auto; 
  padding: 0 2vh;
  scroll-behavior: smooth; 
}
#hdata, #ddata{
  flex: 0 0 auto;
  height: 100px;
  width: 100px;
  color: rgb(255, 255, 255);
  text-align: center;
  align-content: center;
  border-radius: 10px;
}
#hdata p{
  margin: 0 0 15px 0;
  font-size: 0.8em;
}
#hdata p:nth-child(2){
  font-size: 1.6em;
}
#ddata p:nth-child(2){
  font-size: 0.6em;
  color: #8a8a8a;
  margin:5px 0 ;
}
#ddata p:nth-child(3){
  font-size: 1.6em;
}
#hourlydatablk::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

#hourlydatablk::-webkit-scrollbar-track {
  background: #f1f1f100;
  border-radius: 10px;
  margin: 0 10px 0 10px;
}

#hourlydatablk::-webkit-scrollbar-thumb {
  background: #a7a7a7c4;
  border-radius: 10px;
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
}

#hourlydatablk::-webkit-scrollbar-thumb:hover {
  background: #696969;
  backdrop-filter: blur(2.7px);
  -webkit-backdrop-filter: blur(2.7px);
}

#uvindex,#wind{
  flex: 1;
  height: 100%;
  border-radius: 10px;
}
#uvheading , #windheading{
  border-bottom: 1px solid #8a8a8a;
  display: flex;
  gap: 2px;
  align-items: center;
  padding: 5px 10px;
}
#uvheading img , #windheading img{
  height: 20px;
  width: 20px;
}
#uvdata{
  padding: 25px 0;
}
#uvnum{
  font-size: 2.5em;
  color: #fff;
}
#uvtype{
  font-size:1.5em ;
  color: #fff;
}
#uvdatadiv, #wdatablk{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#uvlogo, #wlogo{
  height: 100px;
}
#wdata1,#wdata2{
  display: flex;
  color: #fff;
}
#wdata1{
  border-bottom:1px solid #8a8a8a;
}
#wlogo{
  margin: 15px 0;
}

#wdata1 p:nth-child(1),#wdata2 p:nth-child(1){
  font-size: 2em;
  margin: 0 10px 0 0;
}
